.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;

  padding-inline: 48px;

  border-radius: 8px;
  border: 2px solid transparent;

  font-family: $main-font;
  font-weight: $font-weight-bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  text-decoration: none;

  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s;

  &--view-all {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &--primary {
    background-color: $main-text-color;
    color: #fff;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &:hover {
      background-color: transparent;
      color: $main-text-color;
      border-color: $main-text-color;
    }

    &:active {
      transform: scale(0.98);
      opacity: 0.9;
    }
  }
}
