.category {
  &__photos {
    @include page-grid;

    margin-bottom: 0;
  }

  &__link {
    display: block;
    position: relative;
    grid-column: span 1;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      grid-column: span 1;
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
  &__image {
    position: relative;
    width: 100vw;
    margin: 120px calc(50% - 50vw) 56px;
    height: 200px;
    object-fit: cover;
    display: block;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 56px;
    font-family: $main-font;
    font-weight: $font-weight-bold;
    font-size: 24px;
    line-height: 140%;
  }
}
