.product {
  cursor: pointer;

  &__image {
    overflow: hidden;
    border-radius: 8px;
  }
  &__photo {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
  }

  &:hover &__photo {
    transform: scale(1.05);
  }

  &__description {
    font-family: $heading-font;
    font-weight: $font-weight-regular;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-family: $main-font;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 140%;
  }
}
