$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$transition: 0.3s ease;
$main-text-color: #292929;
$main-font: 'Space Grotesk', sans-serif;
$heading-font: 'Space Mono', monospace;
$font-weight-regular: 400;
$font-weight-bold: 700;
